<nav class="white">
  <div class="nav-wrapper container">
    <a class="brand-logo">UCTRM</a>
    <div class="right">
        <!-- <ul class="right hide-on-med-and-down"> -->
        <a href="tel:0048601411845">
          <i class="tiny material-icons left">call</i>
           +48 608 411 845
        </a>
        <!-- </ul> -->
    </div>
  </div>
</nav>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center indigo-text text-lighten-1 maintext">Usługi Transportowe</h1>
      <div class="row center">
        <h5 class="header col s12 light">Profesjonalny przewóz towarów</h5>
      </div>
      <br><br>

    </div>
  </div>
  <div materialize="parallax" class="parallax"><img src="./assets/background2.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
    <div class="section">

      <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="indigo-text">Szanowni Państwo</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>

    </div>
</div>

<div class="container">
  <div class="section">
    
    <div class="row">

        <div class="col s12 m6">
            <h2 class="center indigo-text"><i class="material-icons">map</i></h2>
            <h5 class="center">Szacunkowa wycena</h5>
            <p class="center map-info">Proszę o wpisanie wszystkich punktów trasy w celu otrzymania szacunkowej ceny usługi</p> 
            <div class="row center">
              <div class="map-wrapper">
                <app-map [request]="request" class="responsive-img"></app-map>
              </div>
            </div>
        </div>

        <div class="col s12 m6 val form-wrapper flex">
          <div class="row center flex">
            <form class="col s10" [formGroup]="form" (ngSubmit)="onSubmit()">

              <div class="input-field col s12">
                <input  id="origin" 
                type="text" class="validate"
                placeholder="Wpisz lokalizację" 
                autocorrect="off" 
                autocapitalize="off" 
                spellcheck="off"
                #origin 
                formControlName="origin">
                <label for="origin">Punkt początkowy</label>
              </div>

              <div formArrayName="waypoints">
                <button class="btn-floating btn waves-effect waves-light indigo addPlace"
                  type="button" (click)="addPlace()"><i class="material-icons">add</i></button>
                <div class="input-field col s12 flex" 
                *ngFor="let item of getControls(); let i = index" [formGroupName]="i">
                  <input id="location"
                  type="text" class="validate"
                  placeholder="Wpisz lokalizację"  
                  autocorrect="off" 
                  autocapitalize="off" 
                  spellcheck="off"
                  #location
                  formControlName="location">
                  <!-- <label for="location">Punkt pośredni</label> -->
                  <a class="valign-wrapper" (click)="deletePlace(i)"><i class="material-icons clear">clear</i></a>
                </div>
              </div>

              <div class="input-field col s12">
                <input  id="destination" 
                type="text" class="validate"
                placeholder="Wpisz lokalizację"  
                autocorrect="off" 
                autocapitalize="off" 
                spellcheck="off"
                #destination
                formControlName="destination" >
                <label for="destination">Punkt końcowy</label>
              </div>
              <button
              class="btn waves-effect waves-light indigo lighten-1"
              type="submit" >Sprawdź</button>
            </form>
          </div>
        </div>

    </div>

  </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">

      <div class="col s12 m6">
        <h2 class="center indigo-text"><i class="material-icons">email</i></h2>
        <h5 class="center">Formularz kontaktowy</h5>
        <form class="col s12">
          <div class="input-field col s12">
              <input  id="name" type="text" class="validate">
              <label for="name">imię i nazwisko</label>
          </div>
          <div class="input-field col s12">
              <input  id="mail" type="email" class="validate">
              <label for="mail">adres e-mail</label>
          </div>
          <div class="input-field col s12">
              <input  id="phone" type="tel" class="validate">
              <label for="phone">nr telefonu</label>
          </div>
          <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">wiadomość</label>
          </div>
          <div class="row center">
              <a href="#"
              class="btn-large waves-effect waves-light indigo lighten-1">Wyślij</a>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>


<footer class="footer-copyright grey darken-3">
    <div class="container">
    Strona autorstwa: <a class="white-text text-lighten-3" href="http://arturmaciejaszek.pl">@Artur Maciejaszek</a>
    </div>
</footer>

